In [1]:
import pandas as pd

#loading dataset
data = pd.read_csv("D:/iris.csv")

In [2]:
#To see how many rows and columns are there in the data frame
data.shape

(150, 5)

In [3]:
#To see the first 5 rows of data
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
#To Find categorical and numeric columns
cat_cols = data.columns[(data.dtypes == "object").tolist()].tolist()
num_cols = data.columns[(data.dtypes != 'object').tolist()].tolist()

In [5]:
num_cols

['sepal.length', 'sepal.width', 'petal.length', 'petal.width']

In [6]:
cat_cols

['variety']

In [7]:
#To Find missing value columns and rows
missing_vals = data.isnull().sum()
missing_vals

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [8]:
missing_vals_cols = missing_vals[missing_vals > 0].axes[0].tolist()
missing_vals_cols

[]

In [10]:
#Impute missing values
#To impute NA values in “variety” column by a constant value say 10
data['variety'].fillna(10)

#But this will not replace the values in the dat data frame. For this, inplace = True needs to be used

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [11]:
#TO find the number of rows with missing values
num_missing_rows = data.isnull().any(axis =1).sum()

In [12]:
#To remove rows with missing values
data.dropna(axis =0, inplace = True)
data.reset_index(inplace = True)

In [14]:
#Sort values in columns
data.sort_values(["variety"],ascending=[True], inplace = True)
data.reset_index(inplace = True)

In [15]:
#get correlation matrix
num_cols = [i.lower() for i in num_cols]
data[num_cols].corr()

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      1.000000    -0.117570      0.871754     0.817941
sepal.width      -0.117570     1.000000     -0.428440    -0.366126
petal.length      0.871754    -0.428440      1.000000     0.962865
petal.width       0.817941    -0.366126      0.962865     1.000000